In [5]:
# print 0 to 20 by using range

In [6]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
# print range 10 to 20

In [11]:
for num in range(10,20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [12]:
# Print number of items in the list by using 'len'

In [13]:
list2 = [10, 20, 14, 55, 43, 87, 76]
print(list2)
print("Number of item in the List2:")
print(len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [17]:
str = "Artificial Intelligence"
print(str)
for temp in str:
    print(temp, end='\n')

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [19]:
input("-Your Name-")
input("-Your Age-")
input("-Your Profession-")
print( )

-Your Name- Abubucker M S
-Your Age- 40
-Your Profession- IT

In [20]:
 # Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples

In [22]:
list1 = [1, 'Welcome', 2, 'Hope']
print("\nTuple with Mixed Datatypes: ")
print(tuple(list1))

Tuple with Mixed Datatypes:
(1, 'Welcome', 2, 'Hope')

In [23]:
# Creating a Tuple
# with nested tuples

In [24]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'hope')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'hope'))

In [25]:
 # print Odd Numbers in the list

In [42]:
list1 = [20,10,16,19,25,1,276,188]
print(tuple(list1))
for num in list1:
    if((num%2)!=0):
                print(num, end=" odd number\n")

(20, 10, 16, 19, 25, 1, 276, 188)
19 odd number
25 odd number
1 odd number

In [44]:
 # print Even Numbers in the list

In [46]:
list1 = [20,10,16,19,25,1,276,188]
print(tuple(list1))
for num in list1:
    if((num%2)==0):
                print(num, end=" Even number\n")

(20, 10, 16, 19, 25, 1, 276, 188)
20 Even number
10 Even number
16 Even number
276 Even number
188 Even number